{{ define "main" }}

<h1>Acerca de mi</h1>

<p>
    Ubicado en Barcelona, España.
    <br>
    Product Engineer en <a href="https://io.builders">io Builders</a>.
    <br>
    Keep in touch -> <a href="https://github.com/fervaldezjr" target="_blank">GitHub</a> | <a href="https://github.com/fervaldezjr" target="_blank">Linkedin</a> | <a href="mailto:fervaldezjr11@gmail.com" target="_blank">Email</a>
    <br>
    Puedes conocerme un poco más <a href="about/">aquí</a>.
</p>
<br />

<h1>Latest posts</h1>

<div class="posts-list">
    {{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
    <div class="post">
        <p>
        <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
        <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
        {{ .Summary }}
        </p>
    </div>
    {{ end }}
    {{ end }}
</div>


{{ end }}